@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");

* {
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	height: 100vh;
}
/*TODO header**/
.header {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(/img/isla-mujeres-01.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.glass {
	position: relative;
	width: 35rem;
	height: 35rem;
	background: inherit;
	border-radius: 5%;
	overflow: hidden;
	animation: resplandor 3s linear infinite;
}

.glass::after {
	content: "";
	width: 35rem; /*250px*/
	height: 35rem; /*300px*/
	background: inherit;
	position: absolute;
	top: 0;
	box-shadow: inset 0 0 0 200px, rgba(255, 255, 255, 0.05);
	filter: blur(10px);
}

@keyframes resplandor {
	/* Generador de sombras: https://cssgenerator.org/box-shadow-css-generator.html */

	from {
		box-shadow: none;
	}
	50% {
		box-shadow: 0px 0px 40px 16px rgba(252, 0, 197, 0.75);
		-webkit-box-shadow: 0px 0px 40px 16px rgba(252, 0, 197, 0.75);
		-moz-box-shadow: 0px 0px 40px 16px rgba(252, 0, 197, 0.75);
	}
	to {
		box-shadow: none;
	}
}

.logo_box {
	position: relative;
	margin-top: 35px;
	z-index: 1;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.logo_box > * {
	display: inline-block;
	width: 200px;
}

.home {
	display: flex;
	justify-content: center;
	color: white;
	font-family: "Dosis", sans-serif;
	font-size: 25px;
	color: blueviolet;
}

.logo {
	width: 500px;
	height: 500px;

	background-size: cover;
}

.input_text {
	height: 25px;
}
